@charset "UTF-8";

html{
    font-family: 'Montserrat', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

.main-header{
    color: white;
    font-size: 15px;
    text-align: center;
}

.main-header ul{
    padding: 1em 0;
    list-style: none;
    margin: 0 auto;
    width:18em;
    
}


.main-header address{
    height:16em;
    background: #1e0d38;
  
}

.list{
    text-align: center;
    display: block;
    margin: 0 auto;
}

.list:nth-child(2) li{
    display: inline-block;
    margin: 0 1em;
    padding: 0;
}

.main-header-contact span[class^="icon"]{
    float: left;
}

.main-header-contact{
    font-size: 1.20em;
}

.main-header-top-content{
    background: rgb(54, 54, 54) url(../img/back-top.jpg);
    height: 40em;
    background-position: center;
    color:rgb(71, 37, 94);
}

.main-header-top-content a,.main-header-top-content p{
    color:#ffffff;
}

.main-header-title{
    padding: 1em 2em 0;
    margin-bottom: 1em;
}

.main-header-nav ul{
    font-size: 1.50em;
     background: rgba(119, 112, 112,.30);
}

.main-header-nav li{
    padding: 0 0 .50em 0;
}

.main-header-nav a, .button{
    text-decoration: none;
}

.main-header-nav a:hover{
    color:#1e0d38;
    transform: scale(3.0);
}

.main-header-article{
    display: block;
    margin-top: 5em;
    background: rgba(255, 255, 255, 0.6);
}

.main-header-article p{
    color:rgb(81, 52, 136);
    font-weight: bolder;
}

.main-header-article-title{
    color:rgb(44, 27, 83);
}

.main-header-social a{
    font-size: 2em;
    color:white;
    text-decoration: none;
}

.main-header-social a:hover{
    color: #6e41b1;
}

.button{
    display: inline-block;
    margin-top: 1em;
    padding: 1em;
    background: #1e0d38;
    border-radius: 15px;
    transition: all 2s;
    border: 2px solid transparent;
}

.button{
    font-size: 1em;
    font-weight: bolder;
}

.button:hover{
    background: rgb(223, 223, 223);
    border: 2px solid #1e0d38;
    color:#1e0d38;
}

.main-content-middle-text .button{
    margin-bottom: 1em;
}

.main-content-top{
    background: #1e0d38;
    color:white;
}

.main-content-article{
    font-size: 1.20em;
    height: 16em;
    box-sizing: border-box;
    padding: 1em;
    text-align: center;
}

.main-content-article{
    padding-top: 3em;
}

.main-content-article span{
    display: block;
    padding: 0 0 .5em 0;
    font-size: 3em;
}

/*conteudo principal*/
.line-style{
    left: 3.2em;
    position: absolute;
    display: inline-block;
    height: 2px;
    width: 5em;
    margin-top: 2em;
    background: #4700b1;
}

.main-content-about .line-style{
    background: white;
    margin-left: 7.2em;
}
.main-content-middle-title{
    padding: 1em 0;
    color: #1e0d38;
}

.main-content-middle{
    box-sizing: border-box;
    line-height: 1.5;
    text-align: center;
    background: rgb(216, 216, 216);
    color: #1e0d38;
}

.main-content-middle-text :not(.button){
    text-align: left;
    padding: 0 2.4em;
    font-size: 1.10em;
}

.main-content-middle a{
    color:white;
}

/* Conteudo Sobre */
.main-content-about{
    background: #1e0d38;
    color:white;
    text-align: center;
}

.main-content-about p{
    margin: 0;
    padding: 0;
    font-size: 1.30em;
}

.main-content-about-title{
    font-size: 1.70em;
    padding: 2em 2em 1em 2em;
    text-align: center;
}

.main-content-about-text p{
    padding: 0 2em 6em 2em;
    line-height: 1.5;
}

.main-content-about h4{
    font-size: 1.50em;
    padding: 2em 0 .5em 0;
    border-top: 2px solid white;
    width: 4em;
    margin: 0 auto;
}

.main-content-about-dados{
    font-family: 'Courier New', Courier, monospace;
}

.main-content-about-dados div:last-child p{
    padding-bottom: 3em;
}

.main-content-about-dados div{
    padding: 2em 0;
    
}


/*Grid*/

.row::after{
    content: ' ';
    display: block;
    clear: both;
}

