@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?u4pji3');
  src:  url('fonts/icomoon.eot?u4pji3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?u4pji3') format('truetype'),
    url('fonts/icomoon.woff?u4pji3') format('woff'),
    url('fonts/icomoon.svg?u4pji3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-bag:before {
  content: "\e900";
}
.icon-umbrella:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e902";
}
.icon-local_phone:before {
  content: "\e902";
}
.icon-email:before {
  content: "\e903";
}
.icon-mail:before {
  content: "\e903";
}
.icon-markunread:before {
  content: "\e903";
}
.icon-local_post_office:before {
  content: "\e903";
}
.icon-book:before {
  content: "\e91f";
}
.icon-location:before {
  content: "\e947";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}
